body {margin: 0; padding: 0; font-size: 16px; font-family: sans-serif;}
#wrapper { width:100%; margin:0px; padding:0px;}
.container {max-width: 1024px;margin: 0 auto;}
h1 {color: #4308fb; text-decoration-line: overline; text-decoration-thickness: 5px; margin: 5px 0 15px 0; }
h2 {margin: 15px 0 5px 0; }

.head_title {text-align: center; font-size: 1.5rem; font-weight: bold; padding: 20px 0; border: 1px solid #dfdddd; }

.topic {border-radius: 5px; border: 1px solid #ccc; margin-top: 15px; padding: 15px 10px; box-sizing: border-box; }

.static_exmpl {position: static; border: 1px solid #c5c1c2; padding: 10px; }
.relative_exmpl {position: relative; left: 30px; border: 1px solid #c5c1c2; padding: 10px; width: 94.4%; }
.fixed_exmpl {position: fixed; bottom: 10px; right: 10px; background-color: #4308fb; font-size: 1rem; padding: 10px; border-radius: 50%; color: #fff; }
.ancestor_relative {position: relative; min-height: 150px; border: 1px solid #c5c1c2; padding: 10px; }
.absolute_exmpl {position: absolute; top: 30%; right: 5%; width: 200px; border: 1px solid #4308fb; padding: 10px; text-align: center; }
.outer_box_position {max-height: 250px; overflow: auto; border: 1px solid #c5c1c2; padding: 0 10px; }
.sticky_exmpl {position: -webkit-sticky; position: sticky; top: 0; padding: 10px; background-color: #4308fb; border-radius: 5px; color: #fff; }

ul.flex__box {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

ul.flex__box li {
    flex: 1 0 23%;
    border: 1px solid #c3c3c3;
    list-style: none;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e2e4;
}

ul.flex__reverse {
    flex-direction: row-reverse;
}

ul.flex__box.bg_clr_2 li{
	background-color: #c4c2e5;
}

ul.flex__column {
	flex-direction: column;
}

ul.flex__column li, ul.flex__column__reverse li {
    min-height: 50px;
}

ul.flex__column__reverse {
	flex-direction: column-reverse;
}
